@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* header styles start */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 120px 150px;
}

.nav-container h3 {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-item-container {
    display: flex;
    list-style: none;
}

.nav-item-container li {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 35px;
}

.banner-container {
    display: flex;
    padding: 120px 150px;
    justify-content: space-between;
}

.banner-description {
    padding: 100px 0px;
}

.banner-description h3 {
    color: #3A3A3A;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 70px;
}

.banner-description p {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin: 16px auto;
}

.btn-primary {
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    border: 0px;
    padding: 5px 30px;
}

.banner-img {
    background-image: url('../photos/Circle\ design.svg');
    background-size: 95%;
    background-repeat: no-repeat;
}

.sponsor {
    display: flex;
    justify-content: space-between;
    margin: 0px 220px;
    align-items: center;
}

.sponsor img {
    padding: 50px 60px 50px 5px;
}

/* header styles end */

/* main part styles start  */
.main-heading {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    margin-top: 30px;
}

.Popular-collection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 210px;
    gap: 30px;
}

.Popular-item {
    display: inline-block;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.Popular-item h3 {
    color: #18191F;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 40px;
}

.Popular-item h4 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 36px;
}

.Popular-item img {
    width: 100%;

}

.fa-solid {
    color: rgb(218, 183, 30);
}

.see-more {
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: 700;
    text-align: end;
    margin-right: 210px;
}

.featured-products-container {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 300px;
}

.featured-products-img {
    width: 40%;
    margin-right: 250px;
}

.featured-products-content {
    width: 60%;
}

.featured-products-content h3 {
    color: #0A0826;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 60px;
    margin-top: 20px;
}

.featured-products-content p {
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: 700;
    margin: 16px auto;
}

.btn {
    border-radius: 0px;
}

span {
    #content1::after {
        content: "\a";
        white-space: pre;
    }
}

/* main part styles end  */

/* responsive start  */

/* --> for mobile */

@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
        padding: 30px 100px;
    }

    .nav-item-container {
        flex-direction: column;
    }

    .nav-item-container li {
        margin: 5px;
        padding: 0px 10px;
        font-size: 1rem;
        margin: 10px 70px;
    }

    .nav-container h3 {
        font-size: 3rem;

    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 50px 100px;
        align-items: center;
    }

    .banner-img img {
        width: 100%;
    }

    .sponsor {
        flex-direction: column;
        margin: 0px 220px;
        align-items: center;
    }

    .Popular-collection-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 10px 60px;
        gap: 10px 0px;
    }

    .see-more {
        text-align: end;
        margin-right: 70px;
    }

    .featured-products-container {
        flex-direction: column;
        justify-content: start;
        margin: 100px 0px;
        padding: 0px;
    }

    .featured-products-img img {
        width: 250%;
    }

    .featured-products-content {
        text-align: center;
        margin: 40px 80px;
    }

}

/* --> for tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-item-container {
        flex-direction: column;
    }

    .nav-item-container li {
        margin: 5px;
        padding: 0px 10px;
        font-size: 1rem;
    }

    .nav-container h3 {
        font-size: 3rem;
    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 50px 100px;
        align-items: center;
    }

    .banner-img img {
        width: 100%;
    }

    .sponsor {
        flex-direction: column;
        margin: 0px 220px;
        align-items: center;
    }

    .Popular-collection-container {
        grid-template-columns: repeat(3, 1fr);
        margin: 10px 70px;
        gap: 30px;
    }

    .see-more {
        margin-right: 80px;
    }

    .featured-products-container {
        flex-direction: column;
        justify-content: start;
        margin: 100px 0px;
        padding: 0px;
    }

    .featured-products-img img {
        width: 250%;

    }

    .featured-products-content {
        text-align: center;
        margin: 70px 180px;
    }
}