@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 120px 150px;
}

.nav-container h3 {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-item-container {
    display: flex;
    list-style: none;
}

.nav-item-container li {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 35px;
}

.banner-container {
    display: flex;
    padding: 120px 150px;
    justify-content: space-between;
}

.banner-description {
    padding: 100px 0px;
}

.banner-description h3 {
    color: #3A3A3A;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 70px;
}

.banner-description p {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin: 16px auto;
}

.banner-description button {
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    border: 0px;
    padding: 5px 30px;
}

.banner-img {
    background-image: url('../photos/Circle\ design.svg');
    background-size: 95%;
    background-repeat: no-repeat;
}

.sponser {
    display: flex;
    justify-content: space-between;
    margin: 0px 220px;
    align-items: center;
}

.sponser img {
    padding: 50px 60px 50px 5px;
}